#contentarea {
    margin: 0 auto;
}


/*==== Font-face style ====*/

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../assets/Chunkfive-webfont.eot');
    src: url('../assets/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/Chunkfive-webfont.woff') format('woff'),
         url('../assets/Chunkfive-webfont.ttf') format('truetype'),
         url('../assets/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TechniqueBRKNormal';
    src: url('techniqu-webfont.eot');
    src: url('techniqu-webfont.eot?#iefix') format('embedded-opentype'),
         url('techniqu-webfont.woff') format('woff'),
         url('techniqu-webfont.ttf') format('truetype'),
         url('techniqu-webfont.svg#TechniqueBRKNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TechniqueOLBRKNormal';
    src: url('techniqo-webfont.eot');
    src: url('techniqo-webfont.eot?#iefix') format('embedded-opentype'),
         url('techniqo-webfont.woff') format('woff'),
         url('techniqo-webfont.ttf') format('truetype'),
         url('techniqo-webfont.svg#TechniqueOLBRKNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'UndercoverRegular';
    src: url('UNDERCOV-webfont.eot');
    src: url('UNDERCOV-webfont.eot?#iefix') format('embedded-opentype'),
         url('UNDERCOV-webfont.woff') format('woff'),
         url('UNDERCOV-webfont.ttf') format('truetype'),
         url('UNDERCOV-webfont.svg#UndercoverRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
  color: #4682B4;
}

ul.html5_links {
    list-style-image:url('../images/logo_html5.png');
    padding: 0px;
    margin-left: 30px;
    margin-bottom: 20px;
}

ul.html5_links li {
    /*text-decoration: none;*/
    padding-left: 14px;
    margin-top: 0px;
    padding-bottom: 5px
}

p.p_end {
    margin-bottom: 20px;
}

/*html5 display rule*/
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}

body {
	background: #ddd;
	text-align: center;
  color: #333333;
	font: 100% Tahoma, "Times New Roman", Times, serif;
}

nav ul, ul.menu {
	list-style: none;
}


#wrapper {
	width: 1100px;
	margin: 0 auto;
	padding: 0 50px;
	text-align:left;
	position: relative;
	background: #fff;
  /*height: 1000px;*/
}
header#mainHeader {
	height: 140px;
}


header#mainHeader {
	background: url(../images/kea.png) no-repeat 25px 0;
	padding: 20px 0 0 245px;
	position: relative;
	border-bottom: 2px solid #7f7f7f;
	margin-bottom: 4em;
  /*height: 200px;*/
}

header#mainHeader hgroup
{
    margin-bottom: 10px;
}


header#mainHeader hgroup h1 {
	font-size: 4em;
	color: #7f7f7f;
	font-family: ChunkFiveRegular,"Arial Black", Arial, serif;
	font-weight: normal;
	/*margin-top: .2em;*/
	text-shadow: 2px 2px 2px #333;
	filter: dropshadow(color=#333, offx=2, offy=2);
}
header#mainHeader hgroup h2 {
	font-weight: normal;
	font-size: 1.5em;
	font-family: Century Gothic, Georgia, serif;
}

/* ~~~~~~~~~ section ~~~~~~~~~~ */
section {
    width: 100%;
    overflow: hidden;
    /*border: 1px solid blue;*/
}

article {
    float: left;
    width: 500px;
}

.shortwidth {
    width: 300px
}

.fullwidth {
    width: 1000px;
}

article hgroup h2 {
   font-weight: normal;
   font-family: Century gothic;
   font-size: 2em;
   margin-bottom: 7px
}
article hgroup h3 {
    font-weight: normal;
    font-size: 22px;
    color: #6a6a6a;
    margin-bottom: 10px
}

article p, aside p {
    font: normal 1em/1.5em "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

/* ~~~~~~~~~ aside ~~~~~~~~~~ */

aside {
	float: right;
	width: 450px;
}

aside h3 {
    font-weight: normal;
    font-size: 1.5em;
    font-family: Century Gothic;
    margin-bottom: 10px;
}

aside #address {
    font-size: 16px;
    color: green;
    margin-bottom: 5px
}

.factbox {
    border:  4px solid #f1f1f1;
    padding: 7px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/* ~~~~~~~~~ footer ~~~~~~~~~~ */

footer {
	margin: 20px auto;
	font-size: 0.8em;
  padding-bottom: 15px;
}

footer img {
    margin-bottom: -7px;
}

/* ~~~~~~~~~ code examples ~~~~~~~~~~ */

pre.codeView {
    background-color: lightBlue;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
}

/*pre.codeViewWide {*/
    /*background-color: lightBlue;*/
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    /*border-radius: 10px;*/
    /*padding: 10px;*/
    /*width:1000px:*/
/*}*/


/*==== GEO ===*/

#map_canvas {
    height: 250px;
    width: 420px;
    border: 2px solid gray;
    margin-bottom: 20px;
}


/*====== front ========*/

.book.even {
float: right;
}

#books {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
}

/*===== canvas =====*/

canvas#showCanvas
{
    margin: 0 auto;
    margin-top: 50px;
}

ul#controls {
    list-style: none;
    width: 120px;
    margin: 0 auto;
    margin-top: 25px;
}

ul#controls li {
    float: left;
    margin: 7px;
}

/* ======== Drag & Drop ===== */

            ul.dnd li {
                list-style: none;
            }

            ul.dnd li a {
                text-decoration: none;
                color: #000;
                margin: 10px;
                width: 110px;
                height: 25px;
                border: 1.5px dashed #999;
                background: #eee;
                padding: 10px;
                display: block;
            }

            *[draggable=true] {
                -moz-user-select:none;
                -khtml-user-drag: element;
                cursor: move;
            }

            *:-khtml-drag {
                background-color: rgba(238,238,238, 0.5);
            }

            ul.dnd li a:hover:after {
                content: ' (eat me)';
            }

            ul.dnd {
                margin-left: 200px;
                min-height: 300px;
            }

            ul.dnd li.over {
                border-color: #333;
                background: #ccc;
            }

            #bin {
                background: url(../images/dnd/bin.png) top right no-repeat;
                height: 220px;
                width: 166px;
                float: left;
                border: 5px solid #7f7f7f;
                position: relative;
                margin-top: 30px;
            }

            #bin.over {
                background: url(../images/dnd/bin.png) top left no-repeat;
            }

            #bin p {
                font-weight: bold;
                text-align: center;
                position: absolute;
                bottom: 20px;
                width: 166px;
                font-size: 32px;
                color: #fff;
                text-shadow: #000 2px 2px 2px;
            }

/* ======== Structure ===== */

.minidemo {
    /*border: 3px solid #add8e6;*/
    /*padding: 10px;*/
    margin: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.minidemo p {
    margin: 5px;
    font-weight: bolder;
}

header.minidemo {
    width: 400px;
    height: 50px;
    background-color:#b0c4de;
    border: 3px solid #b0c4de;
}

section.minidemo {
    width: 400px;
    background-color: #b0c4de;
    border: 3px solid #b0c4de;
}

article.minidemo {
    width: 200px;
    background-color: #ffb6c1;
    border: 3px solid #ffb6c1;
}

aside.minidemo {
    width: 120px;
    height: 160px;
    background-color: #fafad2;
    border: 3px solid #fafad2;
}

footer.minidemo {
    width: 400px;
    height: 50px;
    background-color: #b0c4de;
    border: 3px solid #b0c4de;
    font-size: 1em;
}